[Unit]
Description=Network Interface Switcher Service

After=network.target quectel-ppp.service
Requires=quectel-ppp.service

[Service]
Type=simple

Environment=PYTHONUNBUFFERED=1

ExecStart=/home/__INSTALL_USER__/cellular/venv/bin/python /home/__INSTALL_USER__/cellular/ntw_switch.py

WorkingDirectory=/home/__INSTALL_USER__/cellular

Restart=always
RestartSec=10

User=root
Group=root

StandardOutput=journal
StandardError=journal

KillMode=control-group

TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
